<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Particle Photon</title>
	<!-- jQuery library -->
	<script src="../public/js/external/jquery/jquery-3.2.1.min.js"></script>
	<!-- Compiled and minified Materialize JavaScript -->
	<script src="../public/js/external/materialize/materialize.min.js"></script>
	<!-- Photon Script -->
	<script src="../public/js/photonScript.js"></script>
	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="../public/css/materialize.min.css">
	<!-- Photon CSS -->
	<link rel="stylesheet" href="../public/css/photon.css">
</head>
<body onload="getLogs()">
	<nav>
		<div class="nav-wrapper red lighten-2">
			<a href="../index.html" class="brand-logo">Particle Photon</a>
			<ul id="nav-mobile" class="right">
				<li><a href="lightsControl.html">Lights</a></li>
				<li><a href="alarmControl.html">Alarm</a></li>
				<li><a href="climateControl.html">Climate</a></li>
				<li class="active"><a href="log.html">Log</a></li>
			</ul>
		</div>
	</nav>

  <!-- Empty row for visual porpouses -->
  <div class="row"></div>

  <div class="row">
    <div class="col m8 offset-m2">
      <div class="card-panel" id="log_panel">
      </div>
    </div>
		<div class="col m2">
			<button type="button" id="downloadButton" class="btn-large waves-effect waves-light" onclick="downloadLogFile()">Download</button>
		</div>
  </div>

</body>
</html>
